@model fortune_teller_mvc.Models.Retirement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Retirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YearsToRetirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsToRetirement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RetirementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
