@model fortune_teller_mvc.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>THE FORTUNE</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)'s Fortune</h4>
    <hr />
    <p>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) will retire in <span>@ViewBag.RetirementYears</span> years with $<span>@ViewBag.Money</span>, a home in <span>@ViewBag.Location</span>, and a <span>@ViewBag.Transportation</span>.</p>
    <hr />
    <h4>CUSTOMER INFORMATION:</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSiblings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSiblings)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
