@model fortune_teller_mvc.Models.VacationLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VacationLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VacationLocation1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacationLocation1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VacationLocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
