@model IEnumerable<fortune_teller_mvc.Models.VacationLocation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VacationLocation1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VacationLocation1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VacationLocationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VacationLocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VacationLocationID })
        </td>
    </tr>
}

</table>
