@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fortune Teller</h1>
    <p class="lead">Obtain your fortune!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customers","Index","Customers") </h2>
        <p>
            Enter fortune customer info in order to receive the fortune.
        </p>
    </div>
    <div class="col-md-2">
        <h2>@Html.ActionLink("Money", "Index", "BankAccounts")</h2>
        <p>Money is dependent on birth month.</p>
    </div>
    <div class="col-md-2">
        <h2>@Html.ActionLink("Retirement", "Index", "Retirements")</h2>
        <p>Years to retirement is dependent on age being odd or even number.</p>
    </div>
    <div class="col-md-2">
        <h2>@Html.ActionLink("Vehicle", "Index", "Transportations")</h2>
        <p>Transportation vessel is dependent on favorite color.</p>
    </div>
    <div class="col-md-2">
        <h2>@Html.ActionLink("Locations", "Index", "VacationLocations")</h2>
        <p>Vacation home location is dependent on number of siblings.</p>
    </div>
</div>